<div class="layout">
  <!-- Sidebar / Menú lateral -->
  <aside class="sidebar" [class.sidebar-collapsed]="isCollapsed">
    <div class="logo-container">
      <img src="https://i.postimg.cc/BnHG09W1/logo.png" alt="Logo Desktop" class="logo-desktop" routerLink="/home" routerLinkActive="active">
      <img src="https://i.postimg.cc/XJjkMhDq/logo.png" alt="Logo Mobile" class="logo-mobile">
    </div>


    <nav class="nav">
      <div class="nav-section"><a *ngIf="[1, 4].includes(usuario?.rol)" class="nav-link" (click)="navigateTo('/directorio')" [class.active]="isActive('/directorio')">
        <i class="fas fa-address-book"></i>
        <span>Directorio</span>
      </a>
      
      <a *ngIf="[2, 3, 5].includes(usuario?.rol)" class="nav-link" (click)="navigateTo('/perfil')" [class.active]="isActive('/perfil')">
        <i class="fas fa-user"></i>
        <span>Perfil</span>
      </a>
      
        <a class="nav-link" routerLink="/vacantes" routerLinkActive="active">
          <i class="fas fa-briefcase"></i>
          <span>Vacantes</span>
        </a>
        <a class="nav-link" *ngIf="[2, 3, 5].includes(usuario?.rol)" (click)="navigateTo('/vacaciones')" [class.active]="isActive('/vacaciones')">
          <i class="fas fa-suitcase"></i>
          <span>Vacaciones</span>
        </a>
        <a class="nav-link" routerLink="/incapacidades" routerLinkActive="active">
          <i class="fa-solid fa-heart-pulse"></i>
          <span>Incapacidades</span>
        </a>
        <a class="nav-link" routerLink="/horas-extra" routerLinkActive="active">
          <i class="fas fa-calendar-plus"></i>
          <span>Horas extra</span>
        </a>
        <a class="nav-link" routerLink="/notificaciones" routerLinkActive="active">
          <i class="fas fa-bell"></i>
          <span>Notificaciones</span>
        </a>
      </div>

      <div class="nav-section mt-auto">
        <a class="nav-link logout" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>Cerrar Sesión</span>
        </a>
        <br>
        <div class="user-link bottom-section">
          <i class="fas fa-user"></i>
          <div class="user-info">
            <p class="name">{{usuario.name}}</p>
            <p class="email">{{usuario.email}}</p>
          </div>
        </div>
      </div>
    </nav>
  </aside>

  <!-- Contenido dinámico cargado con router -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
