<app-menu></app-menu>

<div class="layout">
  <div class="contenido-principal">
    <div class="header-horas d-flex justify-content-between align-items-center">
      <h3>Directorio Usuarios</h3>
      <button class="btn btn-light btn-sm agregar-btn" data-bs-toggle="modal" data-bs-target="#agregarusuariosModal"
        *ngIf="[1, 4].includes(usuario?.rol)" (click)="abrirModalAgregar()">
        <i class="fas fa-plus-circle"></i> Agregar
      </button>
    </div>

    <div *ngIf="[1, 4].includes(usuario?.rol); else sinPermiso">
      <!-- Tabla: visible en pantallas grandes -->

      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Buscar por nombre o Numero de documento..." style="
        background-color: #1d2233;
        color: white;
        border: 1px solid #7a86a1;
      "
          [(ngModel)]="filtroNombre" />
      </div>

      <div class="table-responsive d-none d-md-block">
        <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>Nombre</th>
              <th>Teléfono</th>
              <th>Correo</th>
              <th>Dirección</th>
              <th>N° Documento</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
                let usuarios of usuarios
                  | filterNombre : filtroNombre
                  | paginate
                    : { itemsPerPage: itemsPerPage, currentPage: currentPage };
                let i = index
              ">
              <td>{{ nombreCompleto(usuarios) }}</td>
              <td>{{ usuarios.telefono }}</td>
              <td>{{ usuarios.email }}</td>
              <td>{{ usuarios.direccion }}</td>
              <td>{{ usuarios.numDocumento }}</td>


              <td>
                <button class="btn btn-warning btn-acciones" (click)="mostrarInfoUsuario(usuarios.usersId)"
                  *ngIf="[1, 4].includes(usuario?.rol)">
                  <i class="fas fa-user-shield"></i>
                </button>
                <button class="btn btn-link btn-acciones editar" data-bs-toggle="modal"
                  data-bs-target="#editarusuariosModal" (click)="editarusuarios(usuarios, i)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-acciones eliminar" (click)="confirmDelete(i)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>


        <nav class="mt-3 d-flex justify-content-center">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button class="page-link" (click)="cambiarPagina(currentPage - 1)">
                Anterior
              </button>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="currentPage === i + 1">
              <button class="page-link" (click)="cambiarPagina(i + 1)">
                {{ i + 1 }}
              </button>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button class="page-link" (click)="cambiarPagina(currentPage + 1)">
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Modal usersID -->
      <!-- Modal -->
      <div class="modal fade" id="modalUsersId" tabindex="-1" aria-labelledby="modalUsersIdLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Información del Usuario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" *ngIf="userBase">
              <p><strong>Nombre:</strong> {{ userBase.name }}</p>
              <p><strong>Email:</strong> {{ userBase.email }}</p>

              <div class="mb-3">
                <label for="rolSelect" class="form-label">Rol</label>
                <select [(ngModel)]="userBase.rol" class="form-select" id="rolSelect">
                  <option *ngFor="let r of roles" [value]="r.idRol">{{ r.nombreRol }}</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" (click)="actualizarRolUserBase()">Guardar cambios</button>
              <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Tarjetas: visible en pantallas pequeñas -->
      <div class="d-md-none">
        <div class="row">
          <div class="col-12 mb-3" *ngFor="let usuarios of usuarios; let i = index">
            <div class="card">
              <div class="card-body">
                <p class="mb-2">
                  <strong>Nombre:</strong> {{ nombreCompleto(usuario) }}
                </p>
                <p class="mb-2">
                  <strong>Teléfono:</strong> {{ usuarios.telefono }}
                </p>
                <p class="mb-2">
                  <strong>Correo:</strong> {{ usuarios.email }}
                </p>
                <p class="mb-2">
                  <strong>Dirección:</strong> {{ usuarios.direccion }}
                </p>
                <p class="mb-2">
                  <strong>N° Documento:</strong> {{ usuarios.numDocumento }}
                </p>

              </div>

              <div class="card-footer d-flex justify-content-end gap-2">
                <button class="btn btn-warning btn-acciones" (click)="cambiarRoles(usuarios)"
                  *ngIf="[1, 4].includes(usuario?.rol)">
                  <i class="fas fa-user-shield"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                  data-bs-target="#editarusuariosModal" (click)="editarusuarios(usuarios, i)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm" (click)="confirmDelete(i)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Agregar -->
    <!-- Modal Agregar Usuario -->
    <div class="modal fade" id="agregarusuariosModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl modal-70">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <form (ngSubmit)="agregarUsuario()" #formAgregar="ngForm">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label class="form-label">Primer Nombre</label>
                  <input class="form-control" [(ngModel)]="nuevoUsuario.primerNombre" name="primerNombre" required />
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Segundo Nombre</label>
                  <input class="form-control" [(ngModel)]="nuevoUsuario.segundoNombre" name="segundoNombre" />
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Primer Apellido</label>
                  <input class="form-control" [(ngModel)]="nuevoUsuario.primerApellido" name="primerApellido"
                    required />
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Segundo Apellido</label>
                  <input class="form-control" [(ngModel)]="nuevoUsuario.segundoApellido" name="segundoApellido" />
                </div>
                <!-- Tipo de Documento -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Tipo de Documento</label>
                  <select class="form-control" [(ngModel)]="nuevoUsuario.tipoDocumentoId" name="tipoDocumentoId"
                    required>
                    <option [ngValue]="null">Seleccione un tipo</option>
                    <option *ngFor="let t of tiposDocumento" [value]="t.idTipoDocumento">
                      {{ t.nombreTipoDocumento }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Número de Documento</label>
                  <input class="form-control" [(ngModel)]="nuevoUsuario.numDocumento" name="numDocumento" required />
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Correo</label>
                  <input type="email" class="form-control" [(ngModel)]="nuevoUsuario.email" name="email" required />
                  <input type="hidden" [(ngModel)]="nuevoUsuario.email_confirmation" name="email_confirmation" />
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Dirección</label>
                  <input class="form-control" [(ngModel)]="nuevoUsuario.direccion" name="direccion" required />
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-label">Teléfono</label>
                  <input class="form-control" [(ngModel)]="nuevoUsuario.telefono" name="telefono" required />
                </div>
                <!-- Nacionalidad -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Nacionalidad</label>
                  <select class="form-control" [(ngModel)]="nuevoUsuario.nacionalidadId" name="nacionalidadId" required>
                    <option [ngValue]="null">
                      Seleccione una nacionalidad
                    </option>
                    <option *ngFor="let n of nacionalidades" [value]="n.idNacionalidad">
                      {{ n.nombre }}
                    </option>
                  </select>
                </div>

                <!-- EPS -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">EPS</label>
                  <select class="form-control" [(ngModel)]="nuevoUsuario.epsCodigo" name="epsCodigo" required>
                    <option [ngValue]="null">Seleccione una EPS</option>
                    <option *ngFor="let e of eps" [value]="e.codigoEps">
                      {{ e.nombreEps }}
                    </option>
                  </select>
                </div>

                <!-- Fondo de Pensiones -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Fondo de Pensiones</label>
                  <select class="form-control" [(ngModel)]="nuevoUsuario.pensionesCodigo" name="pensionesCodigo"
                    required>
                    <option [ngValue]="null">Seleccione un fondo</option>
                    <option *ngFor="let p of pensiones" [value]="p.codigoPensiones">
                      {{ p.nombrePensiones }}
                    </option>
                  </select>
                </div>

                <!-- Género -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Género</label>
                  <select class="form-control" [(ngModel)]="nuevoUsuario.generoId" name="generoId" required>
                    <option [ngValue]="null">Seleccione un género</option>
                    <option *ngFor="let g of generos" [value]="g.idGenero">
                      {{ g.abreviacionGenero }}
                    </option>
                  </select>
                </div>

                <!-- Estado Civil -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Estado Civil</label>
                  <select class="form-control" [(ngModel)]="nuevoUsuario.estadoCivilId" name="estadoCivilId" required>
                    <option [ngValue]="null">Seleccione un estado civil</option>
                    <option *ngFor="let ec of estadosCiviles" [value]="ec.idEstadoCivil">
                      {{ ec.nombreEstado }}
                    </option>
                  </select>
                </div>
                <!-- Contraseña -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Contraseña</label>
                  <input type="password" class="form-control" [(ngModel)]="nuevoUsuario.password" name="password"
                    required />
                </div>

                <!-- Repetir Contraseña -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Repetir Contraseña</label>
                  <input type="password" class="form-control" [(ngModel)]="nuevoUsuario.repetirPassword"
                    name="repetirPassword" required />
                </div>

                <!-- Rol -->
                <div class="col-md-4 mb-3">
                  <label class="form-label">Rol</label>
                  <select class="form-control" [(ngModel)]="nuevoUsuario.rol" name="rol" required>
                    <option [ngValue]="null">Seleccione un rol</option>
                    <option *ngFor="let r of roles" [value]="r.idRol">
                      {{ r.nombreRol }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="formAgregar.invalid">
                Guardar
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="editarusuariosModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="actualizarUsuario()" #formEditar="ngForm">
              <ng-container *ngTemplateOutlet="formulariousuarios"></ng-container>
              <button type="submit" class="btn btn-primary">
                Guardar cambios
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancelar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Formulario reutilizable -->
    <ng-template #formulariousuarios>
      <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input class="form-control" [(ngModel)]="usuarioSeleccionado.telefono" name="telefono" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input class="form-control" [(ngModel)]="usuarioSeleccionado.email" name="correo" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Dirección</label>
        <input class="form-control" [(ngModel)]="usuarioSeleccionado.direccion" name="direccion" required />
      </div> <!-- Rol -->
      <div class="mb-3">
        <label class="form-label">Rol</label>
        <select class="form-control" [(ngModel)]="usuarioSeleccionado.rol" name="rol" required>
          <option [ngValue]="null">Seleccione un rol</option>
          <option *ngFor="let r of roles" [value]="r.idRol">
            {{ r.nombreRol }}
          </option>
        </select>
      </div>
    </ng-template>
  </div>
</div>
<ng-template #sinPermiso>
  <div class="alert alert-warning">
    No tienes permiso para ver esta información.
  </div>
</ng-template>
<ng-template #sinPermiso1>
  <div class="alert alert-warning">
    No tienes permiso para ver esta información.
  </div>
</ng-template>