.layout {
  display: flex;
  height: 100vh;
  background-color: #202940;
}

app-menu {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
}

.contenido-principal {
  flex: 1;
  padding: 20px;
  margin-right: 5%;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #55555500;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}

body, html {
  overflow: hidden;
}

.header-horas {
  background: linear-gradient(90deg, var(--color-principal), var(--active-color));
  padding: 15px 20px;
  border-radius: 8px;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-horas h3 {
  color: var(--text-hover);
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.header-horas .btn {
  background: var(--text-hover);
  color: var(--color-principal);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.table {
  border-collapse: separate;
  border-spacing: 0px 0px 0px 10px;
  border-radius: 20px;
  overflow: hidden;
}

.table th, .table td {
  border: none;
  background-color: #1e2131;
  color: #ffffff;
  padding: 10px;
}

.table-dark th {
  background-color: #040a11;
  color: white;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.btn-acciones {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 0%;
}

.btn-acciones.editar {
  background-color: transparent;
  color: white;
  font-size: 0.5rem;
}

.btn-acciones.editar:hover {
  background-color: #0057b300;
  transform: scale(1.1);
}

.btn-acciones.eliminar {
  background-color: transparent;
  color: white;
  font-size: 0.5rem;
}

.btn-acciones.eliminar:hover {
  background-color: #b02a3733; /* Efecto suave al hacer hover */
  color: white;
  transform: scale(1.1);
}

.btn-acciones i {
  font-size: 1.5rem;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
  border: 2px solid #0056b3;
}

::-webkit-scrollbar-track {
  background-color: #2424248f;
  border-radius: 10px;
}

.btn-acciones {
  border: none;
  background-color: transparent;
  padding: 0.4rem;
  transition: transform 0.2s ease, background-color 0.2s ease;

  &.editar:hover,
  &.eliminar:hover {
    transform: scale(1.2);
    background-color: transparent; // Asegura que el fondo no cambie
  }

  &.eliminar i {
    color: #dc3545; // Rojo para ícono de eliminar
  }

  &.editar i {
    color: #0d6efd; // Azul para ícono de editar
  }

  i {
    font-size: 1.4rem;
  }
}


.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog-centered {
  max-width: 600px;
}

.table td,
.table th {
  vertical-align: middle;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;

  &:hover {
    background-color: #c82333;
  }

  i {
    pointer-events: none;
  }
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.modal-content {
  background-color: #1e2131;
  border: none;
  color: #ffffff;
}

.modal-content .form-control {
  background-color: #292c3c;
  border: 0,1px solid #d31a1a;
  border-radius: 6px;
  color: #ffffff;
}

.modal-content .btn-primary {
  background-color: #007bff;
  border-color: #007bff00;
  color: #ffffff;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

.modal-dialog {
  max-width: 500px; // igual que modal-lg de Bootstrap
}

.button .btn-close {
  color: #0069d9;
}
