/* You can add global styles to this file, and also import other style files */
:root {
  --color-principal: #2d54ce;
  --sidebar-bg: #1e2131;
  --text-color: #8a8b96;
  --text-hover: #ffffff;
  --active-bg: rgba(59, 130, 246, 0.1);
  --active-color: #3b82f6;
  --border-color: rgba(255, 255, 255, 0.1);
  
}

body.login-background {
  background-image: url('assets/login-fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
